{
  "presets": [
    ["es2015", { "modules": false, "loose": true }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "transform-async-to-generator"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
