@import "variables";

.ui-icon-logo {
  color: $tomato-color;
}

[class^="ui-svgicon-"], [class*=" ui-svgicon-"] {
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
}